<!doctype html>
<html>
	<head>
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
						<!-- As a link -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="#">WorldBank Country Information</a>
		</nav>
		<div class="container">
  			<div class="row">
  				<div class="col">
					<div class="alert alert-danger" role="alert">
					 We couldn't find results for this country code. Please enter a valid country code.
					</div>
				</div>
			</div>
  		</div><!-- container -->
		
	</body>
</html>



<!-- 

this is a comment, lol

	this is a multilined thing

we use it to write content that the broswer
completely ignores

<h1> <-- this is a TAG
		 we are tagging the information inside of it
		 with a concept of "important"
-->
